<div class="detail-wrapper">
	<div class="col-md-6">
		<h4>
			Title:<span class="pull-right">{{this.attributes.title}}</span>
		</h4>
		<div>
			<p>
				<strong>Author:</strong>
				<span class="pull-right">{{this.attributes.author}}</span>
			</p>
			<p>
				<strong>Category:</strong>
				<span class="pull-right">{{this.attributes.category}}</span>
			</p>
			<p>
				<strong>Price:</strong>
				<span class="pull-right">{{this.attributes.price}}</span>
			</p>
			<p>
				<strong>Isbn:</strong>
				<span class="pull-right">{{this.attributes.isbn}}</span>
			</p>
			<p>
				<strong>Description:</strong>
				<span class="pull-right">{{this.attributes.description}}</span>
			</p>
			<p>
				<strong>Views:</strong>
				<span class="pull-right">{{this.attributes.views}}</span>
			</p>
		</div>
	</div>
	<div class="col-md-6">
		<img alt="book cover" id="book-cover" src="{{this.attributes.pictureURL}}" width="200" height="300">
	</div>
</div>