<div class="inner container-fluid">

		<div class="col-sm-8 col-xs-4">
			<div class="container-fluid">
				<h6>{{this.attributes.title}}</h6>
			    <h7>{{this.attributes.author}}</h7>
			</div>
			<img src="{{this.attributes.pictureURL}}" class="img-rounded img-responsive gallery-image" alt="{this.attributes.title}} cover" data-id="{{this.id}}">
			<div class="text-info">{{this.attributes.description}}</div>
		</div>	

</div>
